.btn{
    margin: 1px;
    padding:9px 16px 9px 16px;
    border-radius: 20px;
    background-color: white;
    border-color: white;
}
body{
    background-image: url(./images/pexels-robin-stickel-70497.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    border: 7px;
    border-color: blanchedalmond;
    border-style: solid;
    border-radius: 8px;
}