.btn{
    margin: 1px;
    padding:9px 16px 9px 16px;
    border-radius: 20px;
    background-color: white;
    border-color: white;
}
body{
    background-image: url(./images/pexels-robin-stickel-70497.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#tbl{
    background-color: white;
    border-radius: 7px;
    color: black;
    
    
}
.trow{

    width: 90%;
    height: 200px;
}